@model GetCourseByIDVM
@{
    ViewData["Title"] = "getById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card m-5" style="width:60rem;margin:auto;">
    <div class="card-body">

            <div class="mb-3">
                <div class="mb-3">
                    <label asp-for="Grade" class="form-label"> Grade</label>
                    <input disabled type="text" asp-for="Grade" class="form-control">
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="TraineID" class="control-label">Traine</label>
            <input disabled type="text" asp-for="Trainee.Name" class="form-control">
        </div>

        <ul class="m-0 txt-c-mobile">
            Topics:
            <li>
                @foreach (var item in @Model.Topics)
                {
                    <a class="btn btn-dark m-3">@item.Name</a>
                }
            </li>
        </ul>
            <div class="mb-3">
                <a asp-action="Index" asp-controller="Course" class="btn btn-danger">return</a>

            </div>

        <div>
        </div>
