@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card m-5" style="width:60rem;margin:auto;">
    <div class="card-body">

        <form id="sign_up" method="POST" asp-controller="Account" asp-action="ForgetPassword">
            <div class="msg">Forget Password</div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"> Email</label>
                    <input type="text" class="form-control" asp-for="Email" placeholder="Email" required autofocus>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            @if (ViewBag.Massage=="Done")
            {
                <div class="mb-3">
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"> Password</label>
                        <input type="text" class="form-control" asp-for="Email" placeholder="UserName" required autofocus>
                        <span class="text-success">@ViewBag.Massage</span>
                    </div>
                </div>
            }
            else if (ViewBag.Massage =="Email not true")
            {
                <span class="text-danger">@ViewBag.Massage</span>

            }
            
            <center>
                <input type="submit" value="SIGN UP" class="btn btn-success" />

            </center>

            <div class="m-t-25 m-b--5 align-center">
                <a asp-controller="Account" asp-action="Login">I Remmber my Account</a>
            </div>
        </form>

    </div>
</div>