@model GetTraineeByIdVM
@{
    ViewData["Title"] = "getById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card m-5" style="width:60rem;margin:auto;">
    <div class="card-body">

            <div class="mb-3">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"> Name</label>
                    <input disabled type="text" asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Gender" class="form-label"> Gender</label>

                <input disabled type="text" asp-for="Gender" class="form-control">


            </div>
            <div class="mb-3">
                <label class="form-label"> Track</label>

            <input disabled type="text" value="@Model.TrackName" asp-for="TrackName" class="form-control">

                <div class="mb-3">
                    <div class="mb-3">
                        <label asp-for="Phone" class="form-label"> Phone</label>
                        <input disabled type="text" asp-for="Phone" class="form-control">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"> Email</label>
                        <input disabled type="email" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label asp-for="Birthdate" class="form-label"> Birthdate</label>
                        <input disabled type="date" asp-for="Birthdate" class="form-control">
                        <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <a asp-action="Index" asp-controller="Trainee" class="btn btn-primary">Submit</a>

                </div>

        </<div>
        </div>
